<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>Welcome to the wall</h1>
  <form action="/register" method = "POST">
    <li>First Name: <input type="text" name = "first_name"></li>
    <li>Last Name: <input type="text" name = "last_name"></li>
    <li>Email: <input type="email" name = "email"></li>
    <li>Password: <input type="password" name = "password">
    </li>
    <li>Confirm password: <input type="password" name = "confirm_password"></li>
    <li><input type="submit" value = "Register Yay!"></li>
  </form>
  <form action="/login" method = "POST">
    <li>Email: <input type="email" name = "email"></li>
    <li>Password: <input type="password" name = "password"></li>
    <li><input type="submit" value = "Login Yay!"></li>
  </form>
</body>
</html>
